In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = 'ignore')
import re

# 데이터 불러오기

In [4]:
df = pd.read_excel('C:/Users/user/Desktop/프로젝트_2차/Carsharing_data(탑승내역).xlsx')
print(df.shape)
df.head()

(83083, 48)

,예약번호,차종,차량번호,대여존,단지구분,단지유형,차량연식,등급,아이디,생년월일,...,총요금,예약요금,연장요금,반납지연요금,거리요금,취소패널티,수동결제금액,원예약요금,쿠폰,쿠폰번호
0,2016122100099,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,47760,47760,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2016122600058,모닝,29호3884,서울월계1,LH,영구,2016.10,GRDA02,cholong119,1988-02-05,...,45000,45000,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2016123100078,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,105210,47760,NaN,NaN,57450.0,0.0,NaN,NaN,NaN,NaN
3,2017010100002,K3,10호7524,인천소래3,LH,국민,2015.08,GRDA06,youmi0217,1988-02-17,...,25770,13200,3930.0,NaN,8640.0,0.0,NaN,NaN,NaN,NaN
4,2017010100004,모닝,36하1412,평택반지1,LH-철수,국민,2016.12,GRDA02,yunseo1115,1983-11-15,...,21150,12300,NaN,NaN,8850.0,0.0,NaN,NaN,NaN,NaN

In [5]:
df_ = pd.read_excel('C:/Users/user/Desktop/프로젝트_2차/Carsharing_data(회원정보).xlsx')
print(df_.shape)
df_.head()

(24523, 27)

,아이디,가입일,정회원인증일,회원등급,멤버쉽,가입요일,가입년,가입월,가입주,가입년월,...,생년월,성별,BIRTHDAY,ADDR,거주단지,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,jjin85,2017-12-31 21:53,2018-01-02 15:09,정회원,GRDA02,1,2017,12,52,17/12,...,85/12,여,1985-12-18,"서울특별시 송파구 백제고분로19길 30-9 (잠실동, 새서울하우스) 501호",대구금호천년나무5,1252.0,2017-01-10 00:00:00,LH,국민,순수 국민
1,ataumuna,2017-12-31 19:01,2018-01-01 15:12,준회원,GRDA02,1,2017,12,52,17/12,...,86/10,여,1986-10-23,서울특별시 성북구 인촌로7가길 56 (안암동2가) 103호,고려대 하나스퀘어,0.0,00:00:00,민간,민간,민간
2,dbsgml7788,2017-12-31 17:53,NaN,준회원,GRDA01,1,2017,12,52,17/12,...,93/03,여,1993-03-03,경기도 고양시 덕양구 원흥동 669 삼송마을14단지아파트 14단지 1403 동106,고양삼송14,930.0,2014-09-15 00:00:00,LH,국민,순수 국민
3,1004dyddlf,2017-12-31 17:26,2017-12-31 17:29,정회원,GRDA02,1,2017,12,52,17/12,...,90/08,남,1990-08-12,"대구광역시 북구 내곡로 15 (사수동, 대구금호엘에이치천년나무8단지) 802동809호",대구금호천년나무8,1022.0,2016-05-24 00:00:00,LH,국민,순수 국민
4,sss908,2017-12-31 15:36,2018-01-02 15:10,정회원,GRDA02,1,2017,12,52,17/12,...,89/03,남,1989-03-03,울산광역시 남구 야음동 564-4 우방유화아파트 101동 908호,고양삼송원흥11(행복주택),832.0,2016-12-28 00:00:00,LH,행복,행복

In [48]:
df.head()

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,연령,성별,가입일시,...,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR,예약일시날짜
0,2016122100099,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,NaN,NaN,0.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호,2016-12-21
1,2016122600058,모닝,29호3884,서울월계1,2016.10,GRDA02,cholong119,28,여,2015-06-15 00:00,...,NaN,NaN,0.0,0.0,NaN,1699735.0,2016-01-02 03:20:00,2017-04-09 09:00:00,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516,2016-12-26
2,2016123100078,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,NaN,NaN,57450.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호,2016-12-31
3,2017010100002,K3,10호7524,인천소래3,2015.08,GRDA06,youmi0217,28,여,2014-03-19 00:00,...,3930.0,NaN,8640.0,0.0,NaN,4419890.0,2016-02-17 18:00:00,2018-01-07 18:40:00,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호,2017-01-01
4,2017010100004,모닝,36하1412,평택반지1,2016.12,GRDA02,yunseo1115,33,여,2016-12-20 18:35,...,NaN,NaN,8850.0,0.0,NaN,242480.0,2017-01-01 01:50:00,2017-02-04 14:30:00,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605",2017-01-01

In [50]:
df_.head()

,아이디,가입일,정회원인증일,회원등급,멤버쉽,가입요일,가입년,가입월,가입주,가입년월,...,생년월,성별,BIRTHDAY,ADDR,거주단지,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,jjin85,2017-12-31 21:53,2018-01-02 15:09,정회원,GRDA02,1,2017,12,52,17/12,...,85/12,여,1985-12-18,"서울특별시 송파구 백제고분로19길 30-9 (잠실동, 새서울하우스) 501호",대구금호천년나무5,1252.0,2017-01-10 00:00:00,LH,국민,순수 국민
1,ataumuna,2017-12-31 19:01,2018-01-01 15:12,준회원,GRDA02,1,2017,12,52,17/12,...,86/10,여,1986-10-23,서울특별시 성북구 인촌로7가길 56 (안암동2가) 103호,고려대 하나스퀘어,0.0,00:00:00,민간,민간,민간
2,dbsgml7788,2017-12-31 17:53,NaN,준회원,GRDA01,1,2017,12,52,17/12,...,93/03,여,1993-03-03,경기도 고양시 덕양구 원흥동 669 삼송마을14단지아파트 14단지 1403 동106,고양삼송14,930.0,2014-09-15 00:00:00,LH,국민,순수 국민
3,1004dyddlf,2017-12-31 17:26,2017-12-31 17:29,정회원,GRDA02,1,2017,12,52,17/12,...,90/08,남,1990-08-12,"대구광역시 북구 내곡로 15 (사수동, 대구금호엘에이치천년나무8단지) 802동809호",대구금호천년나무8,1022.0,2016-05-24 00:00:00,LH,국민,순수 국민
4,sss908,2017-12-31 15:36,2018-01-02 15:10,정회원,GRDA02,1,2017,12,52,17/12,...,89/03,남,1989-03-03,울산광역시 남구 야음동 564-4 우방유화아파트 101동 908호,고양삼송원흥11(행복주택),832.0,2016-12-28 00:00:00,LH,행복,행복

# 데이터 병합

In [6]:
result01 = pd.merge(df, df_, on = '아이디', how = 'left')
print(result01.shape)
result01.head()

(83083, 74)

,예약번호,차종,차량번호,대여존,단지구분,단지유형,차량연식,등급,아이디,생년월일,...,생년월,성별_y,BIRTHDAY,ADDR,거주단지_y,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,2016122100099,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,68/04,남,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,서울번동3,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
1,2016122600058,모닝,29호3884,서울월계1,LH,영구,2016.10,GRDA02,cholong119,1988-02-05,...,88/02,여,1988-02-05,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516,서울월계1,2298.0,1992-11-10 00:00:00,LH,영구,순수 영구
2,2016123100078,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,68/04,남,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,서울번동3,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
3,2017010100002,K3,10호7524,인천소래3,LH,국민,2015.08,GRDA06,youmi0217,1988-02-17,...,88/02,여,1988-02-17,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호,인천소래3,2026.0,2010-12-16 00:00:00,LH,국민,순수 국민
4,2017010100004,모닝,36하1412,평택반지1,LH-철수,국민,2016.12,GRDA02,yunseo1115,1983-11-15,...,83/11,여,1983-11-15,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605",평택반지1,879.0,2006-05-18 00:00:00,LH-철수,국민,순수 국민

In [7]:
result02 = result01.drop(columns = ['가입년월_y','성별_y','거주단지_y'])
result03 = result02.rename(columns = {'성별_x':'성별', '거주단지_x':'거주단지', '가입년월_x':'가입년월'})
print(result03.shape)

(83083, 71)

In [8]:
result03 = result03[['예약번호','차종','차량번호','대여존','차량연식','등급','아이디','생년월일','연령','성별','가입일시','거주단지','예약일시','예약시작','예약종료','Year','Month','Day','Week','Date','시작일'	,'시작시','시작시분','예약분','예약시간 (시)','예약상태','사용시작','사용종료','종료요일','예약대기시간 (시)','이용시간 (시)','시간요금','이용거리','총요금','예약요금','연장요금','반납지연요금','거리요금','취소패널티','쿠폰','누적이용금액','최초 탑승일시','최근 탑승일시','ADDR']]
result03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83083 entries, 0 to 83082
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   예약번호        83083 non-null  int64
 1   차종          83083 non-null  object
 2   차량번호        83083 non-null  object
 3   대여존         83083 non-null  object
 4   차량연식        83083 non-null  float64
 5   등급          82731 non-null  object
 6   아이디         83083 non-null  object
 7   생년월일        82801 non-null  object
 8   연령          83083 non-null  int64
 9   성별          82868 non-null  object
 10  가입일시        82868 non-null  object
 11  거주단지        83069 non-null  object
 12  예약일시        83083 non-null  datetime64[ns]
 13  예약시작        83083 non-null  datetime64[ns]
 14  예약종료        83083 non-null  datetime64[ns]
 15  Year        83083 non-null  int64
 16  Month       83083 non-null  int64
 17  Day         83083 non-null  int64
 18  Week        83083 non-null  int64
 19  Date        83083 non-null  int64
 20  시작일         83083 non-null  object
 21  시작시         83083 non-null  int64
 22  시작시분        83083 non-null  object
 23  예약분         83083 non-null  float64
 24  예약시간 (시)    83083 non-null  float64
 25  예약상태        83083 non-null  object
 26  사용시작        68142 non-null  datetime64[ns]
 27  사용종료        82972 non-null  datetime64[ns]
 28  종료요일        82972 non-null  float64
 29  예약대기시간 (시)  83083 non-null  float64
 30  이용시간 (시)    83083 non-null  float64
 31  시간요금        83083 non-null  int64
 32  이용거리        83083 non-null  int64
 33  총요금         83083 non-null  int64
 34  예약요금        83083 non-null  object
 35  연장요금        21016 non-null  float64
 36  반납지연요금      776 non-null    object
 37  거리요금        67707 non-null  float64
 38  취소패널티       4826 non-null   float64
 39  쿠폰          16465 non-null  object
 40  누적이용금액      82259 non-null  float64
 41  최초 탑승일시     82259 non-null  datetime64[ns]
 42  최근 탑승일시     82259 non-null  datetime64[ns]
 43  ADDR        82674 non-null  object
dtypes: datetime64[ns](7), float64(10), int64(11), object(16)
memory usage: 28.5+ MB

In [9]:
result03.to_csv('carsharing.csv', index=False,  encoding = 'euc-kr')

# 결측치 및 이상치 처리

In [10]:
df = pd.read_csv('carsharing.csv', encoding = 'euc-kr')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83083 entries, 0 to 83082
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   예약번호        83083 non-null  int64
 1   차종          83083 non-null  object
 2   차량번호        83083 non-null  object
 3   대여존         83083 non-null  object
 4   차량연식        83083 non-null  float64
 5   등급          82731 non-null  object
 6   아이디         83083 non-null  object
 7   생년월일        82801 non-null  object
 8   연령          83083 non-null  int64
 9   성별          82868 non-null  object
 10  가입일시        82868 non-null  object
 11  거주단지        83069 non-null  object
 12  예약일시        83083 non-null  object
 13  예약시작        83083 non-null  object
 14  예약종료        83083 non-null  object
 15  Year        83083 non-null  int64
 16  Month       83083 non-null  int64
 17  Day         83083 non-null  int64
 18  Week        83083 non-null  int64
 19  Date        83083 non-null  int64
 20  시작일         83083 non-null  object
 21  시작시         83083 non-null  int64
 22  시작시분        83083 non-null  object
 23  예약분         83083 non-null  float64
 24  예약시간 (시)    83083 non-null  float64
 25  예약상태        83083 non-null  object
 26  사용시작        68142 non-null  object
 27  사용종료        82972 non-null  object
 28  종료요일        82972 non-null  float64
 29  예약대기시간 (시)  83083 non-null  float64
 30  이용시간 (시)    83083 non-null  float64
 31  시간요금        83083 non-null  int64
 32  이용거리        83083 non-null  int64
 33  총요금         83083 non-null  int64
 34  예약요금        83083 non-null  object
 35  연장요금        21016 non-null  float64
 36  반납지연요금      776 non-null    object
 37  거리요금        67707 non-null  float64
 38  취소패널티       4826 non-null   float64
 39  쿠폰          16465 non-null  object
 40  누적이용금액      82259 non-null  float64
 41  최초 탑승일시     82259 non-null  object
 42  최근 탑승일시     82259 non-null  object
 43  ADDR        82674 non-null  object
dtypes: float64(10), int64(11), object(23)
memory usage: 27.9+ MB

In [12]:
#칼럼명 정리
df = df.rename({'예약시간 (시)' : '예약시간_시', '예약대기시간 (시)' : '예약대기시간_시', '이용시간 (시)' : '이용시간_시', '최초 탑승일시' : '최초탑승일시','최근 탑승일시' : '최근탑승일시'}, axis = 'columns')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81346 entries, 0 to 81345
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   예약번호      81346 non-null  int64
 1   차종        81346 non-null  object
 2   차량번호      81346 non-null  object
 3   대여존       81346 non-null  object
 4   차량연식      81346 non-null  float64
 5   등급        81346 non-null  object
 6   아이디       81346 non-null  object
 7   연령        81346 non-null  int64
 8   성별        81346 non-null  object
 9   가입일시      81346 non-null  object
 10  예약일시      81346 non-null  object
 11  예약시작      81346 non-null  object
 12  예약종료      81346 non-null  object
 13  Year      81346 non-null  int64
 14  Month     81346 non-null  int64
 15  Day       81346 non-null  int64
 16  Week      81346 non-null  int64
 17  Date      81346 non-null  int64
 18  시작일       81346 non-null  object
 19  시작시       81346 non-null  int64
 20  시작시분      81346 non-null  object
 21  예약분       81346 non-null  float64
 22  예약시간_시    81346 non-null  float64
 23  예약상태      81346 non-null  object
 24  사용시작      67638 non-null  object
 25  사용종료      81236 non-null  object
 26  종료요일      81236 non-null  float64
 27  예약대기시간_시  81346 non-null  float64
 28  이용시간_시    81346 non-null  float64
 29  시간요금      81346 non-null  int64
 30  이용거리      81346 non-null  int64
 31  총요금       81346 non-null  int64
 32  예약요금      81346 non-null  int64
 33  연장요금      20974 non-null  float64
 34  반납지연요금    720 non-null    float64
 35  거리요금      67356 non-null  float64
 36  취소패널티     4698 non-null   float64
 37  쿠폰        16205 non-null  object
 38  누적이용금액    80878 non-null  float64
 39  최초탑승일시    80878 non-null  object
 40  최근탑승일시    80878 non-null  object
 41  ADDR      81289 non-null  object
 42  예약일시날짜    81346 non-null  object
dtypes: float64(11), int64(12), object(20)
memory usage: 26.7+ MB

거주단지가 관리자이거나 탈퇴회원인 데이터 제거

In [13]:
df = df[~((df['거주단지'] == '★관리자')|(df['거주단지'] == '☆탈퇴회원'))]
df.shape

(81515, 44)

등급이 null값인 데이터 제거

In [14]:
df = df.dropna(axis = 'index', how = 'any', subset =['등급'])

성별이 이상한 데이터 2개 처리하기

In [15]:
df['성별'].value_counts()

여                      43869
남                      37630
1900-02-15 00:00:00        1
1901-06-07 00:00:00        1
Name: 성별, dtype: int64

In [16]:
df[~((df['성별']=='남')|(df['성별']=='여'))]

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,생년월일,연령,성별,...,예약요금,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR
50347,2017090200064,모닝,10호7885,용인동백백현9,2016.10,GRDA02,gthasu,1978-05-23,39,1900-02-15 00:00:00,...,13840,NaN,NaN,8550.0,NaN,"금액할인 주중/주말(휴일포함) 20,000원 할인",247460.0,2017-08-12 10:00:00,2017-10-15 13:00:00,"경기도 용인시 기흥구 동백8로131번길 9 (동백동, 백현마을휴먼시아) 2806동 ..."
56709,2017092600031,K3,41호2064,파주운정한울4,2016.08,GRDA02,skykoko1385,1968-03-17,49,1901-06-07 00:00:00,...,16560,18340.0,NaN,9440.0,NaN,NaN,280910.0,2016-10-20 14:10:00,2017-10-04 12:30:00,경기도 파주시 한울로 101 409동 409호

In [17]:
#성별 확인
#df.query('아이디 == "gthasu"')
#df.query('아이디 == "skykoko1385"')

In [18]:
df['성별'] = df['성별'].apply(lambda x : '남' if x == '남' else ('여' if x == '여' else '남'))

In [19]:
df['성별'].value_counts()

여    43869
남    37632
Name: 성별, dtype: int64

연령이 0인 데이터를 해당 대여존에서 해당 차종을 빌린 평균 연령대로 대치

In [20]:
df.query('연령 == 0')

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,생년월일,연령,성별,...,예약요금,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR
79790,2017122500180,모닝,36하1385,고려대 하나스퀘어,2016.06,GRDA02,sneakersa,NaN,0,남,...,7080,NaN,NaN,4960.0,NaN,NaN,12040.0,2017-12-25 21:00:00,2017-12-25 21:00:00,서울특별시 광진구 자양로44길 97 (구의동) 가동106호
79800,2017122500191,모닝,10호1969,평택소사벌이곡6,2016.06,GRDA02,qmffnzosel,NaN,0,여,...,5000,NaN,NaN,22240.0,NaN,NaN,27240.0,2017-12-25 22:00:00,2017-12-25 22:00:00,"경기도 평택시 평남로 962 (비전동, 엘에이치 이곡마을 6단지) 602-1201"

In [21]:
df.query('대여존 == "고려대 하나스퀘어"').query('차종 == "모닝"')['연령'].mean()

26.35021459227468

In [22]:
df['연령'] = np.where(df['예약번호'] == 2017122500180, 26, df['연령'])

In [23]:
df.query('대여존 == "평택소사벌이곡6"').query('차종 == "모닝"')['연령'].mean()

32.142857142857146

In [24]:
df['연령'] = np.where(df['예약번호'] == 2017122500191, 32, df['연령'])

필요없는 칼럼 제거

In [25]:
df = df.drop(columns = ['생년월일','거주단지'])

아이디 'eunji7805' 사용자의 경우 고객으로 안보여서 제거

In [26]:
df = df[df['아이디'] != 'eunji7805']
df.shape

(81441, 42)

In [27]:
df.to_csv('carsharing_checkpoint.csv', index=False,  encoding = 'euc-kr')

In [28]:
df = pd.read_csv('carsharing_checkpoint.csv', encoding = 'euc-kr')

In [29]:
df = df.reset_index().iloc[:,1:]

In [30]:
df

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,연령,성별,가입일시,...,예약요금,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR
0,2016122100099,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,47760,NaN,NaN,0.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호
1,2016122600058,모닝,29호3884,서울월계1,2016.10,GRDA02,cholong119,28,여,2015-06-15 00:00,...,45000,NaN,NaN,0.0,0.0,NaN,1699735.0,2016-01-02 03:20:00,2017-04-09 09:00:00,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516
2,2016123100078,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,47760,NaN,NaN,57450.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호
3,2017010100002,K3,10호7524,인천소래3,2015.08,GRDA06,youmi0217,28,여,2014-03-19 00:00,...,13200,3930.0,NaN,8640.0,0.0,NaN,4419890.0,2016-02-17 18:00:00,2018-01-07 18:40:00,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호
4,2017010100004,모닝,36하1412,평택반지1,2016.12,GRDA02,yunseo1115,33,여,2016-12-20 18:35,...,12300,NaN,NaN,8850.0,0.0,NaN,242480.0,2017-01-01 01:50:00,2017-02-04 14:30:00,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81436,2017122900019,모닝,10호7870,수원호매실4,2016.10,GRDA03,2345zzzzzccc,70,남,2017-05-09 16:36,...,5740,NaN,NaN,NaN,NaN,NaN,250790.0,2017-05-25 06:40:00,2018-01-30 21:20:00,"경기도 수원시 권선구 금곡로 137 (금곡동, 수원호매실휴먼시아4단지 아파트) 40..."
81437,2017122800145,레이,41하1228,광명소하6,2017.03,GRDA04,jkyun21,56,남,2013-09-27 00:00,...,21490,NaN,NaN,NaN,NaN,NaN,411990.0,2017-06-10 16:30:00,2018-01-26 10:00:00,경기도 광명시 소하로 161 휴먼시아 614동 906호
81438,2018010300165,모닝,10호7848,성남판교봇들3,2016.10,GRDA06,drownboy,39,남,2015-06-18 00:00,...,52740,NaN,NaN,NaN,NaN,할인율 주중/주말(휴일포함) 50% 할인,1431930.0,2016-06-25 11:00:00,2018-01-26 10:20:00,경기도 성남시 분당구 삼평동 봇들마을3단지아파트 307-202
81439,2018010500182,모닝,10호7752,양주고읍8,2016.06,GRDA04,kindkgh,31,남,2016-07-30 00:00,...,14760,NaN,NaN,NaN,NaN,시간할인 주중/주말(휴일포함) 120분 권,1310860.0,2016-08-03 11:00:00,2018-01-27 13:00:00,경기도 양주시 만송로 417-19 (만송동) 휴먼시아803동1203호
81440,2018010800008,모닝,10호7870,수원호매실4,2016.10,GRDA03,2345zzzzzccc,70,남,2017-05-09 16:36,...,4130,NaN,NaN,NaN,NaN,NaN,250790.0,2017-05-25 06:40:00,2018-01-30 21:20:00,"경기도 수원시 권선구 금곡로 137 (금곡동, 수원호매실휴먼시아4단지 아파트) 40..."

예약대기시간_시가 -인 값 제거

In [31]:
df = df[df['예약대기시간_시'] >= 0]
df.shape

(81360, 42)

이용시간_시가 -인 값 제거

In [32]:
df = df[df['이용시간_시'] >= 0]
df.shape

(81347, 42)

총요금이 - 인 값 제거 (환불인지는 잘 모르겠음)

In [33]:
df = df[df['총요금'] >= 0]
df.shape

(81346, 42)

예약요금 "59080" 인 고객의 경우 쿠폰 사용으로 0으로 대치\
반납지연요금 "75680"인 고객의 경우 75680으로 대치

In [34]:
df.query('아이디 == "yunki68"')

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,연령,성별,가입일시,...,예약요금,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR
3932,2017012500091,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,"""59080""",39700.0,NaN,24450.0,0.0,시간할인 주중/주말(휴일포함) 180분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
4188,2017013000108,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,0,NaN,NaN,2700.0,0.0,시간할인 주중 180분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
6104,2017021200079,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,21410,NaN,NaN,4200.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
7175,2017021900098,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3280,NaN,NaN,2100.0,NaN,시간할인 주중/주말(휴일포함) 180분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
7673,2017022200168,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,1770,NaN,NaN,500.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
8309,2017022600113,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,7080,NaN,NaN,1350.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
8767,2017030100111,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,8850,NaN,NaN,2550.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
9901,2017031000029,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,4130,NaN,NaN,1650.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
10781,2017031500123,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,6490,NaN,NaN,2550.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
10959,2017031700013,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,4720,880.0,NaN,1350.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
11505,2017032100013,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3540,NaN,NaN,1800.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
12211,2017032600015,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3280,NaN,NaN,1500.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
12277,2017032600068,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3280,NaN,NaN,1350.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
12994,2017033100134,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,0,NaN,NaN,2250.0,NaN,시간할인 주중/주말(휴일포함) 120분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
14207,2017040900009,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3280,NaN,NaN,1650.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
14714,2017041200012,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,2950,NaN,NaN,1800.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
14726,2017041200018,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,7080,2640.0,NaN,2550.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
14843,2017041200146,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,4720,NaN,NaN,900.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
16363,2017042100019,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,2950,NaN,NaN,1800.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
17123,2017042400178,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,2360,880.0,NaN,2550.0,NaN,시간할인 주중/주말(휴일포함) 120분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
18975,2017050400011,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,5900,NaN,NaN,1500.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
19602,2017050200210,모닝,20호8555,서울번동3,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,45690,NaN,NaN,NaN,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
19603,2017050300081,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,45690,NaN,NaN,26400.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
20567,2017051200013,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,2950,NaN,NaN,1500.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
22738,2017052300012,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,2950,NaN,NaN,1350.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
29584,2017062300003,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,8200,880.0,NaN,6600.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
30634,2017062800064,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,32600,NaN,NaN,15300.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
32128,2017070300252,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,3540,NaN,NaN,1950.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
37668,2017072300241,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00:00,...,0,NaN,NaN,750.0,NaN,시간할인 주중/주말(휴일포함) 120분 권,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
55454,2017092600034,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,2950,NaN,NaN,1650.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
55722,2017092700026,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,2950,NaN,NaN,1650.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
55998,2017092800019,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,2950,NaN,NaN,1200.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
56290,2017092900026,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,2950,NaN,NaN,1200.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
62097,2017102200113,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,32330,NaN,NaN,8400.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
64608,2017110100254,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,4720,NaN,NaN,900.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
65597,2017110500141,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,7080,NaN,NaN,900.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
70955,2017112600203,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,48,남,2015-11-08 00:00,...,1770,NaN,NaN,500.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
74739,2017121200021,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,2950,NaN,NaN,1920.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
75008,2017121300019,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,2950,NaN,NaN,1760.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
75256,2017121300240,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,2950,NaN,NaN,1760.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
75269,2017121400019,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,2950,NaN,NaN,1920.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
79554,2017123100143,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,54160,NaN,NaN,9920.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호
79793,2018010100157,모닝,20호8553,서울번동5,2016.1,GRDA03,yunki68,49,남,2015-11-08 00:00,...,7960,NaN,NaN,800.0,NaN,NaN,1306619.0,2016-01-10 16:10:00,2018-01-01 20:00:00,서울특별시 강북구 번2동 주공아파트 508동 304호

In [35]:
def cleansing(x):
    clean_x = re.sub(r"[^a-zA-Z0-9]","",str(x))
    return clean_x

In [36]:
#""제거
df['예약요금'] = df['예약요금'].apply(cleansing)

In [37]:
# 쿠폰사용, 계산하면 예약 요금 0
df['예약요금'].iloc[3931:3932] = 0

반납지연요금 "75680"인 고객의 경우 75680으로 대치

In [38]:
df['반납지연요금'] = df['반납지연요금'].apply(cleansing)

In [39]:
#예약요금, 반납지연요금 object -> 정수, 실수형으로
df = df.astype({'예약요금' : 'int','반납지연요금' : 'float'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81346 entries, 0 to 81440
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   예약번호      81346 non-null  int64
 1   차종        81346 non-null  object
 2   차량번호      81346 non-null  object
 3   대여존       81346 non-null  object
 4   차량연식      81346 non-null  float64
 5   등급        81346 non-null  object
 6   아이디       81346 non-null  object
 7   연령        81346 non-null  int64
 8   성별        81346 non-null  object
 9   가입일시      81346 non-null  object
 10  예약일시      81346 non-null  object
 11  예약시작      81346 non-null  object
 12  예약종료      81346 non-null  object
 13  Year      81346 non-null  int64
 14  Month     81346 non-null  int64
 15  Day       81346 non-null  int64
 16  Week      81346 non-null  int64
 17  Date      81346 non-null  int64
 18  시작일       81346 non-null  object
 19  시작시       81346 non-null  int64
 20  시작시분      81346 non-null  object
 21  예약분       81346 non-null  float64
 22  예약시간_시    81346 non-null  float64
 23  예약상태      81346 non-null  object
 24  사용시작      67638 non-null  object
 25  사용종료      81236 non-null  object
 26  종료요일      81236 non-null  float64
 27  예약대기시간_시  81346 non-null  float64
 28  이용시간_시    81346 non-null  float64
 29  시간요금      81346 non-null  int64
 30  이용거리      81346 non-null  int64
 31  총요금       81346 non-null  int64
 32  예약요금      81346 non-null  int32
 33  연장요금      20974 non-null  float64
 34  반납지연요금    720 non-null    float64
 35  거리요금      67356 non-null  float64
 36  취소패널티     4698 non-null   float64
 37  쿠폰        16205 non-null  object
 38  누적이용금액    80878 non-null  float64
 39  최초탑승일시    80878 non-null  object
 40  최근탑승일시    80878 non-null  object
 41  ADDR      81289 non-null  object
dtypes: float64(11), int32(1), int64(11), object(19)
memory usage: 26.4+ MB

In [40]:
#인덱스 초기화
df = df.reset_index().iloc[:,1:]

In [41]:
df.to_csv('carsharing_checkpoint.csv', index=False,  encoding = 'euc-kr')

In [42]:
df = pd.read_csv('carsharing_checkpoint.csv',encoding = 'euc-kr')

In [43]:
df['예약일시날짜'] = df['예약일시'].str[:10]
df['예약일시날짜']

0        2016-12-21
1        2016-12-26
2        2016-12-31
3        2017-01-01
4        2017-01-01
            ...
81341    2017-12-29
81342    2017-12-28
81343    2018-01-03
81344    2018-01-05
81345    2018-01-08
Name: 예약일시날짜, Length: 81346, dtype: object

In [44]:
df

,예약번호,차종,차량번호,대여존,차량연식,등급,아이디,연령,성별,가입일시,...,연장요금,반납지연요금,거리요금,취소패널티,쿠폰,누적이용금액,최초탑승일시,최근탑승일시,ADDR,예약일시날짜
0,2016122100099,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,NaN,NaN,0.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호,2016-12-21
1,2016122600058,모닝,29호3884,서울월계1,2016.10,GRDA02,cholong119,28,여,2015-06-15 00:00,...,NaN,NaN,0.0,0.0,NaN,1699735.0,2016-01-02 03:20:00,2017-04-09 09:00:00,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516,2016-12-26
2,2016123100078,모닝,20호8555,서울번동3,2016.10,GRDA05,jjy2837,48,남,2013-11-25 00:00,...,NaN,NaN,57450.0,0.0,NaN,3213730.0,2016-02-07 11:00:00,2018-01-13 09:00:00,서울특별시 강북구 번3동 주공아파트 206동 704호,2016-12-31
3,2017010100002,K3,10호7524,인천소래3,2015.08,GRDA06,youmi0217,28,여,2014-03-19 00:00,...,3930.0,NaN,8640.0,0.0,NaN,4419890.0,2016-02-17 18:00:00,2018-01-07 18:40:00,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호,2017-01-01
4,2017010100004,모닝,36하1412,평택반지1,2016.12,GRDA02,yunseo1115,33,여,2016-12-20 18:35,...,NaN,NaN,8850.0,0.0,NaN,242480.0,2017-01-01 01:50:00,2017-02-04 14:30:00,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605",2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81341,2017122900019,모닝,10호7870,수원호매실4,2016.10,GRDA03,2345zzzzzccc,70,남,2017-05-09 16:36,...,NaN,NaN,NaN,NaN,NaN,250790.0,2017-05-25 06:40:00,2018-01-30 21:20:00,"경기도 수원시 권선구 금곡로 137 (금곡동, 수원호매실휴먼시아4단지 아파트) 40...",2017-12-29
81342,2017122800145,레이,41하1228,광명소하6,2017.03,GRDA04,jkyun21,56,남,2013-09-27 00:00,...,NaN,NaN,NaN,NaN,NaN,411990.0,2017-06-10 16:30:00,2018-01-26 10:00:00,경기도 광명시 소하로 161 휴먼시아 614동 906호,2017-12-28
81343,2018010300165,모닝,10호7848,성남판교봇들3,2016.10,GRDA06,drownboy,39,남,2015-06-18 00:00,...,NaN,NaN,NaN,NaN,할인율 주중/주말(휴일포함) 50% 할인,1431930.0,2016-06-25 11:00:00,2018-01-26 10:20:00,경기도 성남시 분당구 삼평동 봇들마을3단지아파트 307-202,2018-01-03
81344,2018010500182,모닝,10호7752,양주고읍8,2016.06,GRDA04,kindkgh,31,남,2016-07-30 00:00,...,NaN,NaN,NaN,NaN,시간할인 주중/주말(휴일포함) 120분 권,1310860.0,2016-08-03 11:00:00,2018-01-27 13:00:00,경기도 양주시 만송로 417-19 (만송동) 휴먼시아803동1203호,2018-01-05
81345,2018010800008,모닝,10호7870,수원호매실4,2016.10,GRDA03,2345zzzzzccc,70,남,2017-05-09 16:36,...,NaN,NaN,NaN,NaN,NaN,250790.0,2017-05-25 06:40:00,2018-01-30 21:20:00,"경기도 수원시 권선구 금곡로 137 (금곡동, 수원호매실휴먼시아4단지 아파트) 40...",2018-01-08